.title {
  margin-bottom: var(--space-xs);
  font-weight: var(--bold);
  font-size: var(--text-3xl);
}

.article {
  line-height: var(--loose);
  font-size: var(--text-prose);
  /* letter-spacing: var(--text-prose-tracking); */
  padding: var(--size-gutter) var(--size-gutter) calc(var(--size-gutter) * 3);
}

@media (min-width: 768px) {
  .container {
    max-width: var(--size-max-width);
    margin: 0 auto;
    /* margin-right: calc(var(--size-gutter) * 3); */
  }
}

.body {
  max-width: 48rem;
}

.meta {
  font-family: var(--font-serif);
  position: relative;
  top: -1em;
  margin: 0 auto 1em;
  font-size: var(--text-md);
  padding-left: var(--size-gutter);
  padding-bottom: var(--size-gutter);
  max-width: var(--size-max-width);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media (min-width: 1024px) {
  .article {
    width: calc(85% - (var(--size-gutter) * 1));
    margin: 0 calc(var(--size-gutter) * 1) 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .article ul {
    padding-left: 0;
  }
}

.article h2:first-of-type {
  margin-top: 0;
}

.article a {
  font-weight: var(--semibold);
  border-bottom: 1.5px solid currentColor;
}

.article a:hover {
  border-bottom-color: transparent;
  color: var(--primary);
}

.article p {
  margin-top: 0;
  margin-bottom: 1.5em;
}

.article h1,
.article h2 {
  font-size: var(--text-2xl);
  margin-top: var(--space-3xl);
}

.article h3,
.article h4,
.article h5,
.article h6 {
  font-size: var(--text-prose);
  font-weight: var(--semibold);
  margin-bottom: 1em;
  margin-top: 2em;
}

.article li {
  margin-bottom: 0.5em;
}