.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 400px;
  background: #e1e1e1;
  font-size: 2em;
  overflow: hidden;
}

.jum1{
  position: relative;
  margin-bottom: 0;
  background-image: url(https://simplisafe.com/files/images/lp-home-security-images/top-landing-image.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

.jumbotronTitle{
  margin-top: 30%;
}
