.hero {
  position: relative;
  background: #000;
  color: #fff;
}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 400px;
}

.heroDetails {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px;
  padding: 0 0.5em;
}

@media(min-width: 600px) {
  .heroDetails {
    font-size: 16px;
  }
}

@media(min-width: 1000px) {
  .heroDetails {
    font-size: 20px;
  }
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
  font-weight: bold;
}
