.container {
  display: flex;
  justify-content: space-between;
  max-width: var(--size-max-width);
  align-items: center;
  margin: 0 auto;
  padding: var(--space-2xl) var(--size-gutter);
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  gap: var(--space-xl);
}

.navigationItem {
  display: inline-flex;
  align-items: center;
}

.navigationItem a {
  border-bottom: 1.5px solid transparent;
  color: currentColor;
  text-decoration: none;
}

.navigationItem a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}
