.navigation {
  display: flex;
  list-style: none;
  padding: 1rem 0;
  margin: 0;
  gap: 1rem;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
}

.navigationItem a {
  color: currentColor;
}
